app/**/logs
app/**/*.log
app/**/npm-debug.log*
app/**/yarn-debug.log*
app/**/yarn-error.log*
app/**/lerna-debug.log*

app/**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

app/**/pids
app/**/*.pid
app/**/*.seed
app/**/*.pid.lock

app/**/lib-cov

app/**/coverage
app/**/*.lcov

app/**/.nyc_output

app/**/.grunt

app/**/bower_components

app/**/.lock-wscript

app/build/Release

app/**/node_modules/
app/**/jspm_packages/

app/**/web_modules/

app/**/*.tsbuildinfo

app/**/.npm

app/**/.eslintcache

app/**/.stylelintcache

app/**/.node_repl_history

app/**/*.tgz

app/**/.yarn-integrity

app/**/.env
app/**/.env.*
!app/**/.env.example

app/**/.cache
app/**/.parcel-cache

app/**/.next
app/**/out

app/**/.nuxt
app/dist/
app/**/dist

app/**/.cache/

app/**/.vuepress/dist

app/**/.temp
app/**/.cache

app/**/.svelte-kit/

app/**/.vitepress/dist

app/**/.vitepress/cache

app/**/.docusaurus

app/**/.serverless/

app/**/.fusebox/

app/**/.dynamodb/

app/**/.firebase/

app/**/.tern-port

app/**/.vscode-test

app/**/.pnp.*
app/.yarn/*
!app/.yarn/patches
!app/.yarn/plugins
!app/.yarn/releases
!app/.yarn/sdks
!app/.yarn/versions

app/**/vite.config.js.timestamp-*
app/**/vite.config.ts.timestamp-*

app/generated/obr-save-wasm/
rust/obr-save-wasm/target/
